@import url("https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* 🌐 Global styles using @layer base */
@layer base {
  body {
    font-family: "Gentium Plus", serif, system-ui, Avenir, Helvetica, Arial,
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  ::selection {
    background-color: rgba(0, 0, 0, 0.2);
    color: inherit;
  }
  .dark ::selection {
    background-color: rgba(255, 255, 255, 0.2);
    color: inherit;
  }
}

@layer utilities {
  .glass-morphism {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    /* border: 1px solid rgba(255, 255, 255, 0.2); */
  }
  .dark\\:glass-morphism {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.9);
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink 0.9s step-end infinite;
}
